<header>
  <h1>TODO List</h1>
  <p>A place to store your Todos</p>
</header>
<main class="main">
  <section class="main-container">
    <form #filterForm="ngForm" (input)="setSearchTerm(filterForm)">
      <label for="task">Filter youtr todos</label>
      <input type="text" id="term" name="term" ngModel />
      <button>Filter</button>
    </form>
    <ol>
      <li
        class="display-task"
        *ngFor="let todo of filterTodo(searchTerm); index as i"
      >
        <button
          class="complete-button"
          *ngIf="!todo.completed"
          (click)="completeTask(todo)"
        >
          Complete
        </button>
        <p [ngClass]="{ completeTask: todo.completed }">{{ todo.task }}</p>
        <button class="delete-button" (click)="deleteTask(i)">X</button>
      </li>
    </ol>
    <form #addForm="ngForm" (ngSubmit)="addTodo(addForm)">
      <label for="task">Task</label>
      <input type="text" id="task" name="task" ngModel />
      <p>Completed</p>
      <label for="yes">True</label>
      <input type="radio" name="completed" id="yes" value="yes" ngModel />
      <label for="no">False</label>
      <input type="radio" name="completed" id="no" value="no" ngModel />
      <button class="add-button">ADD</button>
    </form>
  </section>
</main>
